/* Body settings */
body {
    background-color: #e7bf8c;
    color: #e7bf8c;
    /* System font stack at 14px */
    letter-spacing: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  footer {
    display: block;
  }
  .footer {
    color: #e7bf8c;
    position: relative;
    padding: 0;
    margin: 0;
    background: #000;
  }
  
  /* Links */
  .footer a {
    font-weight: 400;
    text-decoration-thickness: 0.0625rem;
    text-underline-offset: 0.25rem;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s ease-in-out 0s;
    color: #e7bf8c;
  }
  .footer a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: #0d1846;
  }
  .abn {
    white-space: nowrap;
  }
  
  /* add border to bottom of message section */
  .message-container {
    margin: 0 auto;
    border-bottom: 1px solid #c5cbd1;
  }
  
  .message-contents {
    text-align: left;
    padding: 1rem 1.5rem;
  }
  
  /* Container for the links and copyright */
  .legal-container {
    margin: 0 auto;
  }
  
  .legal-contents {
    flex-flow: column wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
  }
  
  .legal-contents ul {
    gap: 1rem;
    flex-direction: column;
    display: flex;
    margin: 0;
    border-bottom: 1px solid #c5cbd1;
    padding: 1.5rem;
    list-style: none;
    text-align: left;
  }
  
  .legal-contents p {
    margin: 0;
    padding: 1rem 1.5rem;
  }
  
  /* Small Tablet */
  @media screen and (min-width: 600px) {
    .legal-contents ul {
      gap: 2rem;
      flex-direction: row;
      -webkit-box-pack: start;
      justify-content: flex-start;
    }
  }
  
  /* Tablet */
  @media screen and (min-width: 768px) {
    .legal-contents ul {
      gap: 2rem;
      flex-direction: row;
      -webkit-box-pack: start;
      justify-content: flex-start;
    }
  }
  
  /* Large Tablet */
  @media screen and (min-width: 1024px) {
    .legal-contents {
      flex-flow: row;
      padding: 1.5rem;
    }
    .legal-contents ul {
      border-bottom: 0;
      padding: 0;
    }
    .legal-container p {
      padding: 0;
      text-align: right;
    }
  }
  
  /* Desktops and Laptops */
  @media screen and (min-width: 1200px) {
    .message-contents,
    .legal-contents {
      margin: 0 auto;
      max-width: 75rem; /* 1200px */
    }
  }
  /* EOF */
  